GITHUB_ACCESS_TOKEN: XXXXX
REPOSITORY: 'org/repo'
PROJECT_NUMBER: 1
COLUMN_NAMES:
  - Backlog
MESSAGE: 'no story point'
MENTION_RULES:
  CLASS: DecideTargetBySubjectsAndMonth
CREATORS:
  - hoge
SPREADSHEET_KEY: XXXXXXXX
